@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<html>
    <head>
        <title>Sir Trevor for Umbraco</title>
    </head>
    <body>
        <h1>Sir Trevor Sample Template</h1>
        <h3>You can also use partials for the blocks</h3>
	
@{
	foreach(dynamic block in CurrentPage.contentBlocks.data)
	{
		<h3>@block.type</h3>
		<textarea cols="120" rows="8">@block.data</textarea><br />
    
        switch((string)block.type)
        {
            case "umbraco_image":
                dynamic image = new umbraco.MacroEngines.DynamicMedia(block.data.id);
                <img src="@image.url" alt="@image.name" style="max-width:50%;" />
                break;
                
            case "text":
                string text = block.data.text;
                @SirTrevor.Markdown(text)
                break;
        }
		
	}
}
    </body>
</html>